src/main/resources/Validators/WWDB1Validator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="songSaveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="archief" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="aflCode"/>
              <xs:element type="xs:string" name="artiest"/>
              <xs:element type="xs:string" name="titel"/>
              <xs:element type="xs:short" name="aflNr"/>
              <xs:element type="xs:long" name="aflDatum"/>
              <xs:element type="xs:byte" name="belgisch"/>
              <xs:element type="xs:string" name="commentaar"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="playlist" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="artiest"/>
              <xs:element type="xs:string" name="titel"/>
              <xs:element type="xs:byte" name="belgisch"/>
              <xs:element type="xs:string" name="commentaar"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
